@model ElectionProgram.ShowModel.CandidatesIDVoter
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@section header{
    <div>show candidates</div>
}
@{ 

    foreach (var item in Model.canList)
    {


     <div style="background-color:palegreen" >@item.Name </div>
        }
    }

@Html.ActionLink("Goto MYPage", "MYPage", new { id =  Model.VoterID}) 

