@model int
@{
    ViewBag.Title = "IsVoteMessag";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@section header{
    <h1>instraction</h1>
}
<div style="background:red;color:white;margin:50px ;width:50%;height:50% ;font-family:'Franklin Gothic';font-size:20px;padding:40px">
  No Result Now<br /><br />
    @Html.ActionLink("Go to MYPage", "MYPage", "Voters", new { id = Model }, new { @class = "btn btn-warning" })
  </div>
