@model  ElectionProgram.ShowModel.CandidatesIDVoter
@{
    ViewBag.Title = "Vote";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@section header{
    <div>show candidates</div>
}

    <div style="margin:40px">
        @{ 
            foreach (var item in Model.canList)
            {


         <div style="background-color:antiquewhite ;margin:10px" >@item.Name </div>
         <div class="btn btn-info"style="color:white;text-align:center;margin:10px">@Html.ActionLink("Vote", "change", new { id = @item.ID, vid = Model.VoterID })</div>
        


                }
            }
    </div>
    
<div class="btn btn-success" style="margin:0.5px">@Html.ActionLink("Goto MYPage", "MYPage", new { id = Model.VoterID })
</div>






